.btn {
  color: #FCFCFD;
  background: $btnbgcolor;
  border-radius: 90px;
  font-weight: 700;
  padding: 14.5px 24px;
  line-height: normal;
  border: 0;
  text-align: center;
  display: inline-block;
  transition: all .2s ease;
  &:hover {
    background: #1F7949;
  }
  &-small {
    font-size: 14px;
    padding: 11px 16px;
    &.btn-icon__before {
      padding-left: 42px;
      &:before {
        left: 16px;
      }
    }
    &.btn-icon__after {
      padding-right: 42px;
      &:before {
        right: 16px;
      }
    }
  }
  &-outter {
    border: 2px solid #777E90;
    color: $maincolor;
    background: transparent;
    padding: 9px 16px;
    &:hover {
      background: #FCFCFD;
    }
    &__big {
      padding: 14.5px 24px;
    }
    &__light {
      border-color: #E6E8EC;
      &:hover {
        background: #23262F;
        color: #FCFCFD;
        border-color: #23262F;
      }
    }
    &__orange {
      color: #FA9116;
      border-color: #FA9116;    
      &:hover {
        background: rgba(250, 145, 22, 0.1);
      }
    }
    &__green {
      color: $btnbgcolor;
      border-color: $btnbgcolor;
      &:hover {
        background: rgba(41, 163, 97, 0.1);
      }
    }
    &.--star {
      &:before {
        background-image: url(./../images/icons/star-black.svg);
      }
      &:hover {
        &:before {
          background-image: url(./../images/icons/star-white.svg);
        }
      }
    }
  }
  &-orange {
    background: #FA9116;
    &:hover {
      background: #C87412;
    }
  }
  &-icon {
    position: relative;
    padding-right: 52px;
    &:after {
      content: '';
      display: block;
      background: #F4F5F6 url(./../images/icons/arrow.svg) no-repeat;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-position: 50% 50%;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: 8px;
    }
    &__before {
      padding-left: 56px;
      position: relative;
      &:before {
        content: '';
        display: block;
        background: url(./../images/icons/support.svg) no-repeat;
        width: 20px;
        height: 20px;
        background-position: 50% 50%;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 24px;
        transition: all .2s ease;
      }
    }
    &__after {
      padding-right: 56px;
      position: relative;
      &:before {
        content: '';
        display: block;
        background: url(./../images/icons/support.svg) no-repeat;
        width: 20px;
        height: 20px;
        background-position: 50% 50%;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 24px;
        transition: all .2s ease;
      }
    }
  }
  &-without-border {
    background: transparent;
  }
  &:disabled {
    opacity: 0.5;
  }
}

.--star {
  &:before {
    background-image: url(./../images/icons/star-white.svg);
  }
}
.--file {
  &:before {
    background-image: url(./../images/icons/file-btn.svg);
  }
}

.--white {
  color: #FCFCFD;
  &:before {
    background-image: url(./../images/icons/star-white.svg) !important;
  }
  &:hover {
    color: #23262F;
    border-color: #FCFCFD;
    &:before {
      background-image: url(./../images/icons/star-black.svg) !important;
    }
  }
}