.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100svw;
}

.notification-block {
  position: fixed;
  right: 5rem;
}

.login-page {
}

.burgerMenuBtn {
  width: 40px;
  height: 40px;
  background: none;
  outline: none;
  border: none;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  flex-shrink: 0;
  display: none;
}

.navbar-mobile-menu {
  display: none;
}

@media (max-width: 1200px) {
  .login-page {
    padding: 0 !important;
  }
  .breadcrumbs__item {
    white-space: nowrap;
  }
  .breadcrumbs {
    flex-wrap: wrap;
  }
}

.table-block {
  overflow: auto;
}

.info-list__item,
.end-task {
  min-width: max-content;
}
@media (max-width: 1000px) {
  .table-layout-fixed {
    min-width: 921px;
  }
  .btn-block {
    flex-direction: column;
    gap: 10px;
    button {
      margin: 0 !important;
    }
  }
  .burgerMenuBtn {
    display: flex;
  }
  .row.mb-4 {
    flex-direction: column;
    gap: 10px;
    .col {
      width: 100%;
    }
    .search-block {
      max-width: 100%;
    }
  }
  .container-fluid {
    padding: 20px;
  }
  .navbar {
    .container-fluid {
      padding: 0 10px 0 0 !important;
      justify-content: end;
    }
  }
  .navbar-mobile-menu {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    background: #29a261;
    z-index: 100;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .main-menu {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .main-menu__item {
        padding: 0;
        width: 100%;
        &::after {
          display: none;
        }
      }
      .main-menu__link {
        width: 100%;
      }
    }
  }
  .main-menu {
    display: none;
  }

  .login-page {
    .col-5 {
      display: none;
    }
    .login-block {
      padding: 20px 40px;
    }
    .row {
      display: flex;
      flex-direction: column;
      .col {
        width: 100% !important;
        flex: 1 !important;
      }
    }
  }
  .btn-right {
    height: 40px !important;
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: center;
    .btn {
      position: relative;
      width: 100%;
      bottom: 0;
    }
  }
  .project-data {
    flex-direction: column;
  }
  .new-author__item {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .dropdown-menu {
    position: fixed;
    top: 80px !important;
    left: 10px !important;
    right: 10px;
    width: 90svw;
  }
}

.sort {
  cursor: pointer;
}
